.order {
  margin-left: 15px;
  margin-right: 10px;
  font-weight: 500;
  font-size: larger;
}
.orderbox {
  padding: 5px 10px;
  border: 1px solid rgb(219, 134, 119);
  display: grid;
  grid-template-columns: 1fr 1.5fr 0fr 1.5fr 1fr 0.3fr;
  align-items: center;
  font-size: max(1vw, 12px);
  font-weight: 500;
}

.myOrder {
  margin-bottom: 20px;
}

.orderbox img {
  padding-left: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.dot-orange {
  background-color: rgb(243, 146, 18);
}

.dot-blue {
  background-color: rgb(0, 128, 255);
}

.dot-green {
  background-color: red;
}

.orderbox button {
  background-color: #ec6e2b94;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  font-weight: 500;
}
